<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All users</title>
</head>
<body>
<h1>All Users</h1>

<table>
    <style>
        table {
            width: 50%;
        }

        th, td {
            border: 1px solid #000000;
        }

        .operations {
            border: none;
        }
    </style>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Surname</th>
        <th>Age</th>
        <th class="operations">Operations</th>
    </tr>
    <tr th:each="user : ${users}">
        <td th:text="${user.getId()}">Id</td>
        <td th:text="${user.getName()}">Name</td>
        <td th:text="${user.getSurname()}">Surname</td>
        <td th:text="${user.getAge()}">Age</td>
        <td class="operations">
            &nbsp
            <a th:href="@{/{id}/edit(id=${user.getId()})}" style="display: inline-block;">
                <button>Update</button>
            </a>
            &nbsp
            <form style="display: inline-block;" th:method="DELETE" th:action="@{/{id}(id=${user.getId()})}">
                <input type="submit" value="Remove">
            </form>

        </td>
    </tr>
</table>
<br>
<button onclick="window.location.href='/new'">Add New User</button>
</body>
</html>